@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* { box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none; }

*, button, input {
    font-family: 'Roboto', sans-serif;
}

html,
body {
    height: 100vh;
    background-color: #EEE;
}

header {
    width: 100%;
    padding: 30px 20px;

    text-align: center;
    background-color: #121212;
    color: #FFF;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 1000px;
    width: 95%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
}

.section {
    width: 100%;
    padding: 20px;

    display: flex;
    flex-direction: column;
}
.section:not(:first-child) {
    margin-top: 15px;
}

.cards {
    width: 100%;
    margin-top: 8px;

    display: flex;
    gap: 20px 10px;
    flex-wrap: wrap;
}

.card {
    max-width: 100%;
    border: 1px solid #CCC;
    border-radius: 5px;

    flex: 0 0 225px;
    overflow: hidden;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 10px 15px;
}

.card-content a:link, .card-content a:visited {
    background-color: transparent;
    border: 2px solid #121212;
    border-radius: 40px;

    cursor: pointer;
    transition: .2s ease-in-out;

    font-size: 16px;
    text-decoration: none;
    color: #121212;

    margin-top: 12px;
    padding: 10px 16px;
}
.card-content a:hover {
    background-color: #121212;
    color: #FFF;
}