/* CSS Reset */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
button,
input,
select,
textarea {
  font-family: 'Roboto', sans-serif;
}

/* Variables */
:root {
  --bg-light: #fff;
  --bg-dark: #333;

  --txt-light: #fff;
  --txt-dark: #222;

  --clr-accent-light-blue: #6abecd;
  --clr-accent-dark-blue: #3e54a3;
  --clr-accent-light-green: #aad742;
  --clr-accent-light-pink: #d26390;
  --clr-accent-dark-pink: #ed2c49;
  --clr-accent-light-orange: #f1b604;
  --clr-accent-dark-orange: #f48925;
}

/* General Styles */
html,
body {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

svg {
  display: block;
}

/* ------------------------- */

/* Layout */
body {
  background: var(--bg-light);
}

.container {
  width: min(100% - 48px, 1280px);
  height: 100%;

  margin: auto;

  display: flex;
  flex-direction: column;
}

/* Header */
.header {
  padding: 32px 16px;
}

.header__title {
  font-size: 42px;
  font-weight: 700;

  color: var(--txt-dark);

  text-align: center;
}

/* Main */
.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.main__title {
  font-size: 28px;
  font-weight: 500;

  color: var(--txt-dark);

  align-self: flex-start;
  position: relative;
}
.main__title::after {
  content: '';
  position: absolute;
  bottom: -6px;
  left: 0;

  width: 65%;
  height: 3px;
  border-radius: 2px;

  background: var(--txt-dark);
}

.main__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 32px;

  padding: 0 32px 92px;
}

@media (min-width: 480px) {
  .main__cards {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

/* Footer */
.footer {
  width: 100%;
  padding: 16px;

  background: var(--bg-dark);

  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.footer__text {
  font-size: 20px;
  font-weight: 400;

  color: var(--txt-light);

  text-align: center;
}

.footer__link {
  text-decoration: underline;

  outline: none;
}
.footer__link:hover,
.footer__link:focus-visible {
  text-decoration: none;
}

/* ------------------------- */

/* Cards */
.card {
  border-radius: 20px;
  box-shadow: 2px 2px 16px -4px rgba(0, 0, 0, 0.3);

  position: relative;
  overflow: hidden;
}

.card__content {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;

  transition: transform 0.25s ease;
}
.card__image:hover {
  transform: scale(1.15);
}

.card__overlay {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;

  background: var(--bg-light);
  border-radius: 16px 0 0 0;

  padding: 12px 12px 12px 16px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;

  transform: translateY(56%);
  transition: transform 0.3s ease-in-out;
}
.card__overlay:hover {
  transform: translateY(0);
}

.card__title {
  font-size: 22px;
  font-weight: 700;

  color: var(--txt-dark);

  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.card__techs {
  display: flex;
  align-items: center;
  gap: 8px;
}
.card__tech {
  font-size: 16px;
  font-weight: 500;

  color: var(--tech-clr, var(--txt-dark));
}
.card__tech--1 {
  --tech-clr: var(--clr-accent-light-blue);
}
.card__tech--2 {
  --tech-clr: var(--clr-accent-dark-blue);
}
.card__tech--3 {
  --tech-clr: var(--clr-accent-light-pink);
}
.card__tech--4 {
  --tech-clr: var(--clr-accent-light-green);
}

.card__badge {
  display: flex;
  align-items: center;
  gap: 8px;

  padding-right: 8px;
  overflow: hidden;

  border: 1px solid var(--card-badge-accent, var(--txt-dark));
  border-radius: 6px;
}
.card__badge--1 {
  --card-badge-accent: var(--clr-accent-light-blue);
}
.card__badge--2 {
  --card-badge-accent: var(--clr-accent-light-green);
}
.card__badge--3 {
  --card-badge-accent: var(--clr-accent-light-orange);
}
.card__badge--4 {
  --card-badge-accent: var(--clr-accent-dark-orange);
}
.card__badge--5 {
  --card-badge-accent: var(--clr-accent-dark-pink);
}
.card__num,
.card__difficulty {
  font-size: 12px;
  font-weight: 500;
}
.card__num {
  padding: 4px;

  background: var(--card-badge-accent, var(--txt-dark));
  color: var(--txt-light);
}
.card__difficulty {
  color: var(--card-badge-accent, var(--txt-dark));

  text-transform: uppercase;
}
