/* CSS Reset */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
button,
input,
select,
textarea {
  font-family: 'Roboto', sans-serif;
}

/* Variables */
:root {
  --bg-light: #fff;
  --bg-dark: #333;

  --txt-light: #fff;
  --txt-dark: #222;

  --clr-accent-light-blue: #6abecd;
  --clr-accent-dark-blue: #3e54a3;
  --clr-accent-light-green: #aad742;
  --clr-accent-light-pink: #d26390;
  --clr-accent-dark-pink: #ed2c49;
  --clr-accent-light-orange: #f1b604;
  --clr-accent-dark-orange: #f48925;
}

/* General Styles */
html,
body {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

svg {
  display: block;
}

/* ------------------------- */

/* Layout */
body {
  background: var(--bg-light);
}

.container {
  width: min(100% - 48px, 1280px);
  height: 100%;

  margin: auto;

  display: flex;
  flex-direction: column;
}

/* Header */
.header {
  padding: 32px 16px;
}

.header__title {
  font-size: 36px;
  font-weight: 700;

  color: var(--txt-dark);

  text-align: center;
}

/* Main */
.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.main__title {
  font-size: 22px;
  font-weight: 500;

  color: var(--txt-dark);

  align-self: flex-start;
  position: relative;
}
.main__title::after {
  content: '';
  position: absolute;
  bottom: -6px;
  left: 0;

  width: 65%;
  height: 3px;
  border-radius: 2px;

  background: var(--txt-dark);
}

.main__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 32px;

  padding: 0 32px;
}

/* Footer */
.footer {
  width: 100%;
  padding: 16px;

  background: var(--bg-dark);

  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.footer__text {
  font-size: 20px;
  font-weight: 400;

  color: var(--txt-light);

  text-align: center;
}

.footer__link {
  text-decoration: underline;

  outline: none;
}
.footer__link:hover,
.footer__link:focus-visible {
  text-decoration: none;
}

/* ------------------------- */

/* Cards */
