@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

/* CSS Reset */
* { box-sizing: border-box;
    margin: 0;
    padding: 0; }

*, button, input {
    font-family: 'Karla', sans-serif;
}

/* Colors */
:root {
    --dark-cyan: #2AB2AF;
    --light-cyan: #4ABEBD;
    --bright-yellow: #C0DF34;
    --light-gray: #E5EFF5;
    --grayish-blue: #98A6BD;
}

.bright-yellow { color: var(--bright-yellow); }
.grayish-blue { color: var(--grayish-blue); }